body{
  width: 100vw;
  height: fit-content;
}
/*My Profile*/
.my-profile{
    background-color: var(--primaryLight);
    margin-top: -3vh;
    width: 100vw;
    min-height: 100vh;
    padding: 0px;
    display: flexbox;
    overflow: auto;
}
  
  .welcome {
    border-bottom: 25px solid rgba(255,255,255, 0.75);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .flex-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .pal-wrap{
    display:flex;
    position: relative;
    margin: 10vh 0rem 2rem 0rem;
    width: fit-content;
    flex: 1;
    left: 78%;
  }

  .pal-cont{
    position: relative;;
    width: 20vw;
    height: fit-content;
    /* background-color: var(--dark); */
    opacity: .9;
    border: 3px solid black;
    box-shadow: 3px 3px 3px gray;
    overflow:hidden;
  }

  .profileCont{
    /* border: 2px solid black; */
    display: flex;
    position: relative;
    top: 10vh;
    right: 30vw;
    width: 50vw;
    height: 65vh;
    justify-content: center;
    align-items: center;
    padding: 10px;

  }
  .profileBook{
    background-color: transparent;
    padding: 50px;
    height: fit-content;
    flex: 1;
    border: 2px solid black;
    box-shadow: 3px 3px 3px gray;
    border-radius: 10%;
    min-width: 20rem;
    max-width: 30vw;
    min-height: 400px;
    max-height: fit-content;
    
  }
  
  .my-profile span {
    color: rgba(255,255,255, 0.75);
  }
  
  .profile-link {
    font-size: 25px;
    background-color: rgba(254, 110, 0, 0.784);
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
  }
  
  .components button {
    color: var(--darker);
    /* background-color: var(--tertiary); */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
  }
  
  .components textarea {
    border: 1px solid var(--darker);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.471);
  
  }
  
  .components textarea:focus {
    background-color: rgba(255, 255, 255, 0.804);
  }
  
  .components input {
    border: 1px solid var(--darker);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.542);
  }
  
  .components input:focus {
    background-color: rgba(255, 255, 255, 0.899);
  }

  .resWrap{
    height: 100vh;
    margin-top: 18vh;
  }

  .reservation-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    background-color: transparent;
    color: var(--darker);
    font-weight:700;
    letter-spacing: 1.5px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px gray;
    border-radius: 10%;
    min-width: 50vw;
    max-width: 50vw;
    margin: 8vh 0 0 ;
  }
  .reservation-wrap h2{
    margin-top: 3rem;
    opacity: 2;
    font-weight:900;
  }

  
  .reservation-component {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    row-gap: 15px;
    width: 45vw;
    justify-content: center;
    padding: .5rem;
    margin: 2rem;
  }

  .reservation-component h3{
    font-weight: 650;
  }
  .reservation-component h4{
    font-weight: 650;
  }
  .reservation-component h5{
    font-weight: 650;
  }
  
  .user-reservations {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.471);
    width: 20vw;
    margin: .5rem;
  }
  .reservation-component button {
    background: transparent;
    border: 2px solid var(--darker);
    color: var(--darker);
    margin-top: 1vh;
    box-shadow: 2px 2px 2px var(--darker);
  }

  .reservation-component button:hover {
    scale:calc(1.05);
  }

  .delete-btn{
    margin-top: 3vh;
    background-color: transparent;
    height: 5%;
    width: 10vw;
    padding: 3px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3px;
    box-shadow: 2px 2px 2px var(--darker);
  }

  .delete-btn:hover{
    background-color: transparent;
    /* color: var(--grass); */
    scale:calc(1.5);
  }

  .profile-email{
    min-width: 20rem;
    max-width: 30vw;
    min-height: 400px;
    max-height: 40vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2.5rem;
    border: 2px solid black;
    box-shadow: 3px 3px 3px gray;
    border-radius: 10%;
  }
  .profile-email h2{
    position: relative;
    margin-bottom: 5vh;
    font-weight: 900;
    letter-spacing: 2.5px;
  }

  .profile-email button{
    margin-top: 3vh;
    background-color: transparent;
    height: 5vh;
    width: 10vw;
    padding: 3px;
    font-weight: 700;
    letter-spacing: 3px;
    box-shadow: 2px 2px 2px var(--dark);
  }
  .profile-email button:hover{
    /* background-color: var(--darker);
    color: var(--grass); */
    scale:calc(1.1);
  }


  .review-component{
    display: flex;
    align-content: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    min-width: 20rem;
    max-width: 30vw;
    min-height: 400px;
    max-height: 40vh;
    text-align: center;
    border-radius: 10%;
    border: 2px solid black;
    box-shadow: 3px 3px 3px gray;
  }
  .review-component h2{
  font-weight:900;
  }
  .reviewText textarea{
    width: 80%;
  }
  .submit-btn{
    margin-top: 3vh;
    background-color: transparent;
    height: 5vh;
    width: 10vw;
    padding: 3px;
    font-weight: 700;
    letter-spacing: 3px;
    box-shadow: 2px 2px 2px var(--dark);
  }
  .submit-btn:hover{
    /* color: var(--grass); */
    background-color: transparent;
    scale:calc(1.2);

  }

