.card{
    max-height: 250px;
    padding: .5rem;
    margin: 1.5rem;
    min-width: 53vw;
}
.card img{
    width: 20vw;
}

.card-body{
    max-width: 32vw;
}
.card-main{
    display: flex;
    justify-content: space-between;
}


#roomBtn{
    display: flex;
    position: relative;
    justify-content: center;
    width: 10vw;
    max-height: 75px;
    margin: 1rem;
}
.card h5{
    position: relative;
    font-weight: 700;
    left: 8vw;
    margin-bottom: 1rem;
    max-width: 15vw;
}